@font-face {
    font-family: TTLakes-Regular;
    src: url(./TTLakes-Regular.ttf);
    font-weight: 300;
}

@font-face {
    font-family:TTLakes-Medium;
    src: url(./TTLakes-Medium.ttf);
    font-weight: 400;
}


@font-face {
    font-family:TTLakes-Bold;
    src: url(./TTLakes-Bold.ttf);
    font-weight: 600 ;
}

